
/********************************* Home *********************************/
.home {
	width: 100%;
	height: 950px;
	background: #FFFFFF;
	z-index: 2;
}

.home_slider_container {
	width: 100%;
	height: 100%;
	padding-top: 130px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 30px;
}

.home_slider_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.home_slider_content_container {
	position: absolute;
	left: 0;
	top: 32.3%;
	width: 100%;
}

.home_slider_content {
	max-width: 580px;
}

.home_slider_title {
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}

.home_slider_subtitle {
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: 22px;
}

.home_button {
	margin-top: 40px;
}

.home_slider_dots_container {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}

.home_slider_dots {
	position: absolute;
	left: 15px;
	bottom: 56px;
}

/* .home_slider_custom_dots {} */

.home_slider_custom_dot {
	display: inline-block;
	position: relative;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.home_slider_custom_dot:hover {
	color: #e95a5a;
}

.home_slider_custom_dot.active {
	color: #e95a5a;
}

.owl-theme .owl-dots {
	display: none;
}

.fadeIn {
	animation-delay: 1000ms;
}

/********************************* Ads *********************************/
.avds {
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
}

.avds_container {
	width: 100%;
	height: 490px;
	padding-left: 60px;
	padding-right: 60px;
}

/* Ad Small*/

.avds_small {
	width: calc((100% * 0.391) - 15px);
	height: 100%;
	padding: 30px;
}

.avds_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.avds_small_inner {
	width: 100%;
	height: 100%;
	border: solid 2px #FFFFFF;
}

.avds_discount_container {
	position: absolute;
	right: 36px;
	bottom: 0;
}

.avds_discount_container>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.avds_discount {
	position: absolute;
	bottom: 71px;
	right: 0;
	width: 152px;
	text-align: center;
}

.avds_discount div:first-child {
	font-size: 60px;
	font-weight: 700;
	color: #1b1b1b;
	line-height: 0.75;
}

.avds_discount div:first-child span {
	font-size: 36px;
	font-weight: 700;
	vertical-align: super;
}

.avds_discount div:last-child {
	font-size: 14px;
	font-weight: 400;
	color: #1b1b1b;
	margin-top: 1px;
}

.avds_small_content {
	max-width: 250px;
	padding-top: 57px;
	padding-left: 31px;
	padding-right: 30px;
}

.avds_title {
	font-size: 48px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.16;
}

.avds_link {
	margin-top: 18px;
	padding-left: 4px;
}

.avds_link a {
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}

.avds_link a::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #FFFFFF;
	content: '';
}

/* Ad Large */

.avds_large {
	width: calc((100% * 0.608) - 15px);
	height: 100%;
}

.avds_large_container {
	width: 100%;
	height: 100%;
	padding-top: 39px;
	padding-left: 32px;
	padding-bottom: 44px;
}

.avds_large_content {
	max-width: 567px;
	height: 100%;
	background: rgba(0, 0, 0, 0.63);
	padding-right: 130px;
	padding-left: 30px;
	padding-top: 51px;
	padding-bottom: 30px;
}

.avds_text {
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: 11px;
	padding-left: 2px;
}

.avds_link_large {
	margin-top: 40px;
}

/********************************** products ****************************************/

.products {
	padding: 80px 0;
	background: #ffffff;
}

/* .products:first-child  {
	padding: 50px 0;
	background: #ffffff;
}

.products:nth-child(n+2) {
	padding: 20px 0;
	background: #ffffff;
} */

.products .container {
	position: relative;
	padding: 0;
}

.products .container .row {
	padding: 30px 0;
}

.products .container .row .col-md-3 {
	max-width: 100%;
}

.products .container .row .col-md-3 a .card {
	border: 0;
	border-radius: 5px;
	box-shadow: 0px 3px 6px #EDEDED;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.products .container .row .col-md-3 a .card img {
	height: 300px;
	box-shadow: 0px 3px 6px #EDEDED;
	width: 106%;
	border-radius: 10px;
	background-color: #fff;
}

.products .container .row .col-md-3 a .card .card-body .card-title {
	font-family: 'Lato', sans-serif;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
}

.products .container .row .col-md-3 a .card .card-body {
	width: 100%;
}

.products .container .row .col-md-3 a .card .card-body .rate {
	margin-bottom: 0;
}

.products .container .row .col-md-3 a .card .card-body .rate #stars {
	color: #818285;
}

.products .container .row .col-md-3 a .card .card-body .rate #stars .checked {
	color: #FC9400;
}

.products .container .row .col-md-3 a .card .card-body .rate #stars .total-rates {
	margin-left: 15px;
}

/* .products .container .row .col-md-3 a .card .card-body .old-price {
	color: #BFBFBF;
	position: relative;
	font-size: 22px;
	margin-bottom: 0;
}

.products .container .row .col-md-3 a .card .card-body .old-price:before {
	content: '';
	position: absolute;
	border: 1px solid #BFBFBF;
	width: 52px;
	top: 22px;
} */

.products .container .row .col-md-3 a .card .card-body .current-price {
	color: #009AFC;
	font-weight: 700;
	font-size: 26px;
}

.products .container .row .owl-nav {
	position: absolute;
    right: 0;
    top: -70px;
    font-size: 2rem;
	color: #818285;
	background: #fff;
}

.products .container .row .owl-carousel .owl-nav button.owl-next,
.products .container .row .owl-carousel button.owl-dot {
	position: absolute;
	top: 4rem;
	left: 0rem;
}

.products .container .row .owl-theme .owl-nav [class*=owl-]:hover {
	background: none;
	color: #000000;
}

.products .container .row .owl-theme .owl-nav [class*=owl-]:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

.products .container .row::before {
	font-family: 'Lato', sans-serif;
	font-style: italic;
    font-weight: bold;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.products .container .row:nth-child(1)::before {
    content: 'Apple Products';
}

.products .container .row:nth-child(2)::before {
    content: 'Samsung Products';
}

.products .container .row:nth-child(3)::before {
    content: 'Dell Products';
}

.products .container .row:nth-child(4)::before {
    content: 'Choose from Different Categories';
}


/********************************* Ad Extra Large *********************************/
.avds_xl {
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
}

.avds_xl_container {
	width: 100%;
	height: 345px;
	padding-top: 34px;
	padding-right: 35px;
	padding-bottom: 30px;
	padding-left: 30px;
}

.avds_xl_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.avds_xl_content {
	width: 391px;
	height: 100%;
	background: #ff0f0f;
	float: right;
	padding-top: 28px;
	padding-left: 42px;
	padding-right: 30px;
}

.avds_xl_link {
	margin-top: 18px;
}

/********************************* Icon Boxes *********************************/
.icon_boxes {
	width: 100%;
	padding-top: 99px;
	padding-bottom: 99px;
	background: #FFFFFF;
	z-index: 2;
}

/* .icon_box_row {} */

.icon_box {
	width: 100%;
	text-align: center;
}

.icon_box_image {
	width: 75px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
}

.icon_box_image img {
	max-width: 100%;
}

.icon_box_title {
	font-size: 18px;
	font-weight: 500;
	color: #1b1b1b;
	margin-top: 33px;
}

.icon_box_text {
	margin-top: 20px;
}

/********************************* Footer *********************************/
.footer {
	background: #222;
	color: #aaa;
	padding-top: 10px;
}

.footer a {
	color: #aaa;
}

.footer a:hover {
	color: #fff;
}

.footer h3 {
	color: #fff;
	letter-spacing: 1px;
	margin: 30px 0 20px;
	font-family: 'Poppins', sans-serif;
}

.footer .three-column {
	overflow: hidden;
}

.footer .three-column li {
	/* width: 33.3333%; */
	/* float: left; */
	padding: 5px 0;
}

.footer .socila-list {
	overflow: hidden;
	margin: 20px 0 10px;
}

.footer .about p {
	color: #a5a5a5;
}

.footer .socila-list li {
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	overflow: hidden;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}

.footer .socila-list li:hover {
	opacity: 1;
}

.footer-social-ul li {
	display: inline;
	margin-right: 28px;
}

